<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soporte - SAC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">SAC</p>
            <nav>
                <a href="/">Volver al Panel ➜]</a>
                <h1 style="font-size: 1.1em; color: black; padding-top: 15px;" >Drink team🍺</h1>
            </nav>
        </div>
    </header>

    <section id="principal" style="height: 690px; display: flex; align-items: center;">
        <div class="container" style="max-width: 1000px;">
            <div style="background-color: rgba(50, 50, 50, 0.85); padding: 40px; border-radius: 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);">
                <p style="font-size: 1.2em; margin: 15px 0; color: white; font-family: 'Courier New', monospace; text-align: left;">
                    <strong>DERLIS DARIO CARRANZA ACOSTA</strong>&nbsp;&nbsp;&nbsp;&nbsp;CONTACTO: E1315783959@LIVE.ULEAM.EDU.EC
                </p>
                <p style="font-size: 1.2em; margin: 15px 0; color: white; font-family: 'Courier New', monospace; text-align: left;">
                    <strong>STEVEN SNEYDER CATAGUA CEDEÑO</strong>&nbsp;&nbsp;&nbsp;CONTACTO: E1315666501@LIVE.ULEAM.EDU.EC
                </p>
                <p style="font-size: 1.2em; margin: 15px 0; color: white; font-family: 'Courier New', monospace; text-align: left;">
                    <strong>JOFRE DAVID CEDENO ROLDAN</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONTACTO: E1351914146@LIVE.ULEAM.EDU.EC
                </p>
                <p style="font-size: 1.2em; margin: 15px 0; color: white; font-family: 'Courier New', monospace; text-align: left;">
                    <strong>OLEG KUZNETSOV</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONTACTO: E0958701666@LIVE.ULEAM.EDU.EC
                </p>
            </div>
        </div>
    </section>
    <section style="background-color: white; padding: 30px 0;">
    </section>
</body>
</html>