<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soporte - SAC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">SAC</p>
            <nav>
                <a href="/">Volver al Panel ➜]</a>
            </nav>
        </div>
    </header>

    <section id="principal" style="height: 690px; display: flex; align-items: center;">
        <div class="container">
            <div style="font-size: 1em; color: black; line-height: 1.8;">
                <p style="font-size: 1em; margin: 10px 0;"><strong>DERLIS DARIO CARRANZA ACOSTA</strong> - contacto: e1315783959@live.uleam.edu.ec</p>
                <p style="font-size: 1em; margin: 10px 0;"><strong>STEVEN SNEYDER CATAGUA CEDEÑO</strong> - contacto: e1315666501@live.uleam.edu.ec</p>
                <p style="font-size: 1em; margin: 10px 0;"><strong>JOFRE DAVID CEDENO ROLDAN</strong> - contacto: e1351914146@live.uleam.edu.ec</p>
                <p style="font-size: 1em; margin: 10px 0;"><strong>OLEG KUZNETSOV</strong> - contacto: e0958701666@live.uleam.edu.ec</p>
            </div>
        </div>
    </section>
    <section style="background-color: white; padding: 30px 0;">
    </section>
</body>
</html>