<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Generar Reportes - SAC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <p class="logo">SAC REPORTES</p>
            <nav>
                <a href="/admin-panel">← Volver al Panel</a>
            </nav>
        </div>
    </header>

    <section id="principal" style="height: 629px;">
        <div class="container">
            <h1>Seleccione el Formato de Salida</h1>
            
            <form action="/report" method="POST" class="POST">
                <select name="formato" style="padding: 15px; border-radius: 10px; margin-bottom: 20px;">
                    <option value="pdf">📄 Documento PDF (Oficial)</option>
                    <option value="excel">📊 Hoja de Excel (Consolidado)</option>
                </select>
                <button type="submit">Descargar Reporte Ahora</button>
            </form>
        </div>
    </section>
</body>
</html>