<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soporte - SAC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">SAC</p>
            <nav>
                <a href="/">Volver al Panel ➜]</a>
            </nav>
        </div>
    </header>

    <section id="principal" style="height: 690px; flex; align-items: center;">
        <div class="container">
            <h1 style="padding-top: 275px;">Page in Progress</h1>
            <p style="color: white; font-size: 1.5em;">We're working on something great. Check back soon!</p>
        </div>
    </section>

    <section style="background-color: white; height: 50px;"></section>
</body>
</html>